<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyStudy-热门书单</title>
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        table th {vertical-align: middle !important; text-align: center; font-size: 20px}
        table td {vertical-align: middle !important; text-align: center; font-family: 楷体; font-size: 18px}
    </style>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PyStudy | 豆瓣评分最高的{{ amount }}本{{ tag }}类书籍</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        文学
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">小说</a></li>
                        <li><a href="#">诗词</a></li>
                        <li><a href="#">童话</a></li>
                        <li class="divider"></li>
                        <li><a href="#">外国文学</a></li>
                        <li class="divider"></li>
                        <li><a href="#">张爱玲</a></li>
                        <li><a href="#">钱钟书</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        流行
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">武侠</a></li>
                        <li><a href="#">推理</a></li>
                        <li><a href="#">言情</a></li>
                        <li><a href="#">校园</a></li>
                        <li class="divider"></li>
                        <li><a href="#">金庸</a></li>
                        <li class="divider"></li>
                        <li><a href="#">韩寒</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        文化
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">历史</a></li>
                        <li><a href="#">哲学</a></li>
                        <li><a href="#">人物传记</a></li>
                        <li class="divider"></li>
                        <li><a href="#">社会学</a></li>
                        <li class="divider"></li>
                        <li><a href="#">心理学</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        生活
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">爱情</a></li>
                        <li><a href="#">旅行</a></li>
                        <li><a href="#">励志</a></li>
                        <li><a href="#">职场</a></li>
                        <li><a href="#">两性</a></li>
                        <li><a href="#">人际关系</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        经管
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">经济</a></li>
                        <li><a href="#">管理</a></li>
                        <li><a href="#">理财</a></li>
                        <li><a href="#">金融</a></li>
                        <li><a href="#">营销</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        科技
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">科普</a></li>
                        <li><a href="#">互联网</a></li>
                        <li><a href="#">编程</a></li>
                        <li><a href="#">算法</a></li>
                        <li><a href="#">web</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="width: 80%;">
    <form role="form">
        <div class="form-group">
            <div class="col-sm-4">
                <select class="form-control" id="tag">
                    <option>--请选择类别--</option>
                    {% for mytag in all_tags %}
                    <option>{{ mytag.tag }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <select class="form-control" id="amount">
                    <option>--请选择数量--</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                    <option>200</option>
                    <option>500</option>
                    <option>1000</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary" id="query_btn">查询</button>
            </div>
        </div>
    </form>
</div>
<div class="container"  style="width: 80%;margin-top:10px; margin-bottom:30px;">
    <table class="table table-condensed table-bordered table-striped">
        <tr><th>序号</th><th>书名</th><th>图片</th><th>评分</th><th>评价数</th></tr>
        {% for book in books %}
            <tr><td>{{ forloop.counter }}</td><td style='width: 40%'>《{{ book.title }}》</td><td style='width: 20%'><img src="{{ book.img }}" width="90" /></td><td>{{ book.rating }}</td><td>{{ book.rating_amount }}</td></tr>
        {% endfor %}
    </table>
</div>
</body>
<script>

    $(function(){
        $('#tag').val("{{ tag }}");
        $('#amount').val("{{ amount }}");
    });

    $('#query_btn').click(function(){
        var tag = $('#tag').val();
        if(tag=="--请选择类别--") {
            tag = "编程"
        }
        var amount = $('#amount').val();
        if(amount=="--请选择数量--") {
            amount = "10"
        }
        window.location.href = "/books/" + tag + "/" + amount + "/";
    });

    $('.dropdown-menu li a').click(function(){
        var tag = $(this).text();
        var amount = '20'
        window.location.href = "/books/" + tag + "/" + amount + "/";
    });

</script>
</html>